language: objective-c
env:
  - RVM_RUBY_VERSION=system
before_install:
  - source ~/.rvm/scripts/rvm && rvm use $RVM_RUBY_VERSION
  - brew install cmake
before_script:
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\nHost bitbucket.org\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
notifications:
  email: false
install: bundle install
script: bundle exec rake
